*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

nav{
	height: 100px;
	width: 100%;
	background: #c0e5ed;
	position: fixed;
}

.logo img{
	float: left;
	width: 78px;
	height: auto;
	margin-left: 10px;
	margin-top: 10px;
}

nav ul{
	float: right;
	margin-right: 40px;
}

nav li{
	display: inline-block;
	margin: 0 4px;
	line-height: 100px;
}

nav a{
	color: white;
	font-size: 15px;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}

nav #icon{
	color: white;
	font-size: 30px;
	line-height: 100px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

.cover img{
	margin-top: 100px;
	width: 100%;
	height: auto;
}

.wrapper div{
    width: 100%;
    text-align: left;
    background-color: white;
    font-size: 18px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.wrapper div img{
    width: 150px;
    height: auto;
    margin-bottom: 28px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.wrapper div h2{
	font-size: 30px;
	color: #6DAFF9;
	margin-bottom: 15px;
	text-align: center;
}

.wrapper div p{
	margin-left: 25%;
	margin-right: 25%;
	line-height: 200%;
}

.wrapper div ul{
	margin-left: 25%;
	margin-right: 25%;
	line-height: 200%;
	list-style-type: square;
}

.wrapper div ul li{
	margin-left: 20px;
	display: list-item;
}

@media (max-width: 950px){
	.logo img{
		margin-left: 0;
	}
	nav ul{
		margin-right: 20px;
	}

	nav a{
		font-size: 14px;
	}

	.wrapper div{
    	font-size: 15px;
    }

    .wrapper div img{
    	width: 130px;
	}

    .wrapper div h2{
    	font-size: 25px;
    }
}
@media (max-width: 850px){
	.logo img{
		margin-left: 40px;
	}

	nav #icon{
		display: block;
	}

	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #c0e5ed;
		top: -100%;
		left: 0%;
		text-align: center;
		transition: all .5s;
	}

	nav li{
		display: block;
		margin: 40px 0;
		line-height: 30px;
	}

	nav a{
		font-size: 17px;
	}

	nav ul.show{
		top: 100px;
	}

	.wrapper div{
    	font-size: 12px;
    }

    .wrapper div img{
    	width: 100px;
	}

    .wrapper div h2{
    	font-size: 22px;
    }
}